<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrestejero.weeklydeals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.GameListActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.GameDetailActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game_list"
            android:screenOrientation="portrait" />
    </application>

</manifest>